<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>852420263082-ahfh951urv90n5paf3romr39d7bebijf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852420263082-ahfh951urv90n5paf3romr39d7bebijf</string>
	<key>API_KEY</key>
	<string>AIzaSyCwyMeMSmPvgwkriogu_wyJ0Hn0q37T1Y4</string>
	<key>GCM_SENDER_ID</key>
	<string>852420263082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutter</string>
	<key>PROJECT_ID</key>
	<string>test-flutter-76a89</string>
	<key>STORAGE_BUCKET</key>
	<string>test-flutter-76a89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852420263082:ios:1f9921a5e23764f224e4d3</string>
</dict>
</plist>